.forgotPassword-container {
    height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}



.forgotPassword-content {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 500px;
    height: fit-content;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}

.forgotPassword-title {
    font-size: 30px;
    font-weight: 700;
    color: #0361f7;
}





.form-forgotPassword {
    width: 400px;
}


.form-forgotPassword .btn-register {
    display: flex;
    justify-content: center;
    margin: 20px 0;

}

.btn-confirm button {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    background-color: #0361f7;
    border: none;
    color: white;
}

.btn-confirm button:hover {
    background-color: #3d84f5;
}



.btn-goBack {
    width: 100%;
    margin: 10px 0;
    border: none;
}

.btn-goBack a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #0d6efd;
    color: #fff;
}

.btn-goBack a:hover {

    background-color: #3d84f5;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
}