.login-container {
    height: calc(100vh - 72px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 500px;
    height: fit-content;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.login-form {
    width: 400px;
}

.title-login {
    font-size: 30px;
    font-weight: 700;
    color: #0d6efd;
}

.btn-login {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-login button {
    width: 100%;
    border-radius: 20px;
}

.btn-login button:hover {
    background-color: #3d84f5;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

.register {
    display: flex;
    justify-content: space-between;
}

.btn-goBack {
    width: 100%;
    margin: 10px 0;
    border: none;
}

.btn-goBack a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #0d6efd;
    color: #fff;
}

.btn-goBack a:hover {

    background-color: #3d84f5;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
}