.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 500px;
    height: fit-content;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.title-login {
    font-size: 30px;
    font-weight: 700;
}

.btn-login {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn-login button {
    width: 100%;
    border-radius: 20px;
}

.btn-login button:hover {
    background-color: #d8e6ff;
    color:black;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}