.register-container {
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}



.register-content {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 500px;
    height: fit-content;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}

.register-title {
    font-size: 30px;
    font-weight: 700;
    color: #0361f7;
}

.divider {
    display: flex;
    align-self: center;
    justify-content: center;
}



.register-form {
    width: 400px;
}


.form-register .btn-register {
    display: flex;
    justify-content: center;
    margin: 20px 0;

}

.btn-register button {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    background-color: #0361f7;
    border: none;
    color: white;
}

.btn-register button:hover {
    background-color: #3d84f5;
}

.sign-in {
    display: flex;
    justify-content: space-between;
}

.sign-in a {
    text-decoration: none;
}

.sign-in a:hover {
    color: red;
}

.btn-goBack {
    width: 100%;
    margin: 10px 0;
    border: none;
}

.btn-goBack a {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #0d6efd;
    color: #fff;
}

.btn-goBack a:hover {

    background-color: #3d84f5;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
}


/* --------RESPONSIVE---------- */
@media (min-width: 993px) {
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Cho máy tính bảng và các thiết bị nhỏ hơn */
@media (max-width: 992px) {
    .register-container {
        flex-direction: column;
        /* Xếp logo và form theo chiều dọc */
        gap: 30px;
        /* Giảm khoảng cách giữa logo và form */
        height: auto;
        /* Cho phép chiều cao tự động co dãn */
        padding: 20px 0;
        /* Thêm chút khoảng đệm */
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }
}

/* Cho điện thoại di động */
@media (max-width: 576px) {
    .register-content {
        width: 100%;
        box-shadow: none;
        /* Bỏ shadow để trông gọn hơn trên di động */
    }

    .frame-register {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }

    .register-form {
        width: 90%;
        /* Form bên trong cũng co lại */

    }

    /* Ẩn logo trên màn hình quá nhỏ để tập trung vào form */
    .register-container>div:first-child {
        display: none;
    }

    footer {
        font-size: 14px;
    }
}