.register-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register-container {
    /* height: 100%; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-brand {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-brand img {
    max-width: 100%;
    max-height: 100%;
}

.register-content {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 500px;
    height: fit-content;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}

.register-title {
    font-size: 30px;
    font-weight: 700;

}

.divider {
    display: flex;
    align-self: center;
    justify-content: center;
}



.form-register {
    width: 400px;
}


.form-register .btn-register {
    display: flex;
    justify-content: center;
    margin: 20px 0;

}

.btn-register button {
    width: 100%;
    padding: 5px;
    border-radius: 20px;
    background-color: #0361f7;
    border: none;
    color: white;
}

.btn-register button:hover {
    background-color: #3d84f5;
}

.sign-in {
    display: flex;
    justify-content: space-between;
}

.sign-in a {
    text-decoration: none;
}

.btn-goBack {

    margin: 10px 0;
    border-radius: 20px;
    background-color: #0d6efd;
    color: #fff;


}
.btn-goBack a{
    text-decoration: none;
    color: #fff;
}
.btn-goBack:hover {
    background-color: #3d84f5;
    color:white;
}