



.manageNews-title {
    font-size: 30px;
    font-weight: 700;
}


.table tbody tr td {
    max-width: 150px;
    /* chiều rộng tối đa của ô */
    white-space: nowrap;
    /* không xuống dòng */
    overflow: hidden;
    /* ẩn phần vượt quá */
    text-overflow: ellipsis;
    text-align: center;
}
.add-button {
    padding-top: 8px;
}

.add-icon {
    align-items: left;
    margin-right: 5px;
    padding-bottom: 3px;
}

.search-box {
    width: 400px;
    position: relative;
}

.search-box input {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    height: 35px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.reset-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

.table thead tr th {
    text-align: center;
}
