.manageNews-container {
    height: fit-content;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.manageNews-content {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
        z-index: 0;
}

.manageNews-title {
    font-size: 30px;
    font-weight: 700;
}

.table {
    width: 95%;
    margin: auto;
}

.add-button {
    padding-top: 8px;
}

.add-icon {
    align-items: left;
    margin-right: 5px;
    padding-bottom: 3px;
}

.search-box {
    width: 400px;
    position: relative;
}

.search-box input{
    padding-left: 35px;
}

.search-icon{
    align-items: left;
    position: absolute;
    margin: 7px 5px;
}