body {}

a.btn-login {
    display: inline-block;
    padding: 6px 20px;
    background-color: transparent;
    color: #007bff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    transition: ease-in-out 0.3s;
}

a.btn-login:hover {

    background-color: #007bff;
    color: white;
}

a.btn-register {
    display: inline-block;
    padding: 6px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
}

a.btn-register:hover {
    background-color: #0056b3;
}


a.navbar-brand.logo-brand {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.navbar-brand.logo-brand img {
    max-width: 100%;
    max-height: 100%;
}

.category {
    border: 1px solid red;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.category-title a {
    text-decoration: none;
}

.main {
    border: 1px solid green;
    height: 100vh;
    display: flex;
    padding: 0;
}

/* LEFT CONTAINER */
.left-container {
    width: 70%;
    border: 1px solid rgb(248, 0, 41);
    height: 100%;
}

.left-container .category-title {
    font-size: 25px;
    font-weight: 700;
}

#newsCarousel {
    max-width: 900px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#newsCarousel img {
    width: 400px;
    /* cố định chiều ngang khung ảnh */
    height: 250px;
    /* cố định chiều cao */
    object-fit: cover;
    /* cắt và phóng to ảnh vừa khung */
    border-radius: 8px;
    /* bo góc ảnh */
    background-color: #f0f0f0;
    /* nền xám nhạt nếu ảnh nhỏ hơn khung */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

#newsCarousel .carousel-control-prev {
    left: -50px;
    /* đẩy ra bên trái */
}

#newsCarousel .carousel-control-next {
    right: -50px;
    /* đẩy ra bên phải */
}

/* --- Tùy chỉnh icon mũi tên --- */
#newsCarousel .carousel-control-prev-icon,
#newsCarousel .carousel-control-next-icon {
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    background-size: 50% 50%;
    background-position: center;
    filter: invert(1);
}

/* --- Giữ vị trí giữa dọc --- */
#newsCarousel .carousel-control-prev,
#newsCarousel .carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
}




.right-container {
    width: 30%;
    height: 100%;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: top;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    left: 0;
    flex-direction: column;
}



/* RESPONSIVE */
@media (max-width: 768px) {
    #newsCarousel .carousel-control-prev {
        left: -25px;
    }

    #newsCarousel .carousel-control-next {
        right: -25px;
    }
}